<header>
  <h1>서애로 생활안전 지킴이</h1>
  <button class="hamburger" menuToggle></button>
</header>

<article>
  <section>
    <div class="map-wrapper" [ngClass]="{'zoom': mapZoom}" (click)="clickMap()">
      <div id="reportMap" class="map" #reportMap>
        <div class="btn-position" (click)="getPosition()" [ngClass]="{ 'loading': bPositionLoading }">
          <img src="assets/imgs/coord.png">
        </div>
        <loading [ngClass]="{'isOn': isLoading}"></loading>
      </div>
      <div class="btn-confirm" (click)="setPin($event)">
        설정하기
      </div>
    </div>
    <p class="text-address">주소: <span>{{inputValues?.address}}</span></p>
    <div class="user-input-wrapper">
      <p>
        <label for="category">카테고리</label>
        <select id="category" (change)="selectCategory(category.value)" #category>
          <option disabled>---------</option>
          <option [value]="'환경미화'">환경미화</option>
          <option [value]="'공공시설수리'">공공시설수리</option>
          <option [value]="'노약자 배려시설'">노약자 배려시설</option>
          <option [value]="'기타'">기타</option>
        </select>
      </p>
      <div>
        <label for="contents">상세내용</label>
        <textarea id="contents" placeholder="자세한 내용 기입(생략 가능)" rows="8" (keydown)="inputContents(contents.value)" #contents></textarea>
      </div>
      <div class="file-upload" >
        <input type="file" (change)="inputImage($event)" id="file" accept="image/*">
        <label for="file">
          <img src="assets/imgs/btn_photo.png">
        </label>
        <span>{{fileName}}</span>
      </div>
      <button class="btn-report" (click)="report()">신고하기</button>
    </div>
  </section>
</article>
