page-report {
  section{
    width:100%;
    height:100%;
    overflow-y: scroll;
    .map-wrapper{
      position: static;
      width: 100%;
      height: 200px;
      border: 1px solid #f26522;

      .btn-position{
        display: none;
      }

      .map{
        width: 100%;
        height: 100%;
      }

      .btn-confirm{
        display: none;
      }
    }
    .zoom {
      position: fixed;
      top:0;
      left:0;
      bottom:0;
      right:0;
      border: 0;
      width: 100%;
      height: 100%;

      .btn-position{
        display: block;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        z-index: 30;
        right: 10px;
        top: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .btn-position.loading {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
      }
      @-webkit-keyframes rotating /* Safari and Chrome */ {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      .map{
        width: 100%;
        height: calc(100% - 50px);
      }

      .btn-confirm{
        display: block;
        width: 100%;
        line-height: 50px;
        background: #007aff;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        bottom:-50px;
        z-index: 150
      }
    }

    .text-address{
      margin-top: 5px;
      margin-bottom: 10px;
      color: #333;
      span{
        font-size: 16px;
        font-weight: 600;
      }
    }

    .user-input-wrapper{
      label {
        color: #f26522;
        font-size: 14px;
        font-weight: 600;
      }
      p{
        display: flex;

        label {
          flex-basis: 30%;
          line-height: 35px;
        }
        select {
          width: 100%;
          height: 35px;
          background: white;
          border: 1px solid #f26522;
          border-radius: 0;
          padding: 3px;
        }
        input[type=text] {
          width: 100%;
          height: 35px;
          border: 1px solid #f26522;
          border-radius: 0;
          padding: 3px;
        }
      }
      div {
        label{
          display: block;
          margin-bottom: 10px;
        }
        textarea{
          display: block;
          width: 100%;
          padding: 10px;
          border: 2px solid #f26522;
          background: white;
        }
      }
      .btn-report {
        width: 100%;
        height: 35px;
        color:white;
        background: #f26522;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 600;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    .file-upload{
      margin-top: 10px;
      input{
        display: none;
      }
      label {
        display: inline-flex !important;
        font-size: 14px;
        text-align: center;
        color: white;
        width: 35px;
        height: 35px;
        background-color: #f26522;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin:0 !important;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        img {
          width: 20px;
          height: 20px;
        }
      }
      span {
      }
    }
  }

  loading{
    display: none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
  }
  loading.isOn{
    display: flex;
  }
}
