page-home {
  article {
    .map{
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      height: calc(100% - 100px);
      background: white;
      border: 2px solid #f26522;

      .btn-position{
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        z-index: 30;
        right: 10px;
        top: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }

      .btn-position.loading {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
      }
      @-webkit-keyframes rotating /* Safari and Chrome */ {
        from {
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes rotating {
        from {
          -ms-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        to {
          -ms-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }

    .information-wrapper{
      width: 100%;
      .btn-upper-wrapper{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;

        button {
          background: 0;
          img {
            width: 65px;
          }
        }
      }

      .simple-info{
        display: flex;
        width: 100%;
        background: white;
        border: 1px solid #f26522;
        color: #643600;
        padding: 10px;
        p{
          margin:0;
        }
        .info-wrapper{
          flex-basis: 70%;
          justify-content: space-between;
          .name {
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            height: 18px;
            font-weight: 600;
          }
          .like-counter {
            display: inline-block;
            width: 20px;
            line-height: 20px;
            height: 20px;
            border: 1px solid #643600;
            text-align: center;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #ffd200;
          }
          .addr-wrapper{
            margin-top: 5px;
            font-size: 14px;
            line-height: 14px;
            height: 14px;
            .addr{
              overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
            }
          }
        }

        .like-wrapper{
          display: flex;
          align-items: center;
          flex-basis: 30%;
          .like {
            background: #f26522;
            width:65px;
            height: 30px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            margin-left: auto;
          }
        }
      }
    }

    page-detail{
      position: absolute;
      overflow: scroll;
      top:100%;
      left:0;
      right:0;
      z-index: 100;
      transition: all 0.5s ease 0s;
    }
    page-detail.open {
      top:0;
      transition: all 0.5s ease 0s;
    }
  }
}
