<header>
  <h1>서애로 생활안전 지킴이</h1>
  <button class="hamburger" menuToggle></button>
</header>

<article>
  <div class="map" id="map">
    <div class="btn-position" (click)="getPosition()" [ngClass]="{ 'loading': bPositionLoading }">
      <img src="assets/imgs/coord.png">
    </div>
  </div>

  <div class="information-wrapper">

    <div class="btn-upper-wrapper">
      <button class="btn-up" (click)="openDetail()">
        <img src="assets/imgs/icon_open.png">
      </button>
    </div>

    <div class="simple-info">
      <div class="info-wrapper">
        <p>
          <span class="name">{{ selectedPos?.category }}</span>
          <span class="like-counter">{{ selectedPos?.likeCount }}</span>
        </p>
        <p class="addr-wrapper">
          <span class="addr">{{ selectedPos?.address }}</span>
        </p>
      </div>
      <div class="like-wrapper">
        <button class="like" (click)="votePos()">동감해요</button>
      </div>
    </div>

  </div>

  <page-detail (closeDetail)="closeDetail($event)" [ngClass]="{ 'open' : open }"></page-detail>
</article>
