// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


html {
  letter-spacing: -0.05rem;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;

  margin:0;
  background-image: url('../assets/imgs/ttl_bg.png');
  -webkit-background-size: 100%;
  background-size: 100% 55px;
  background-repeat: no-repeat;

  h1{
    text-align: center;
    color: #f26522;
    font-size: 22px;
    font-weight: 800;
    line-height: 55px;
    margin:0 !important;
  }

  button.hamburger{
    position: absolute;
    right: 0;
    top: 0;

    width: 5rem;
    height:100%;
    background-color: transparent;
    background-image: url('../assets/imgs/btn_menu.png');
    -webkit-background-size: 80%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }

  button.hamburger:active{
    background-image: url('../assets/imgs/btn_menu_o.png');
  }

  button.back{
    position: absolute;
    left: 0;
    top: 0;

    width: 5rem;
    height:100%;
  }
}

article{
  position: relative;
  margin-top: 55px;
  height: calc(100% - 55px);
  width: 100%;
  background: #fff9de;
  padding: 10px;
}
