<section>
  <div class="btn-downer-wrapper">
    <button class="btn-up" (click)="emitClose()">
      <img src="assets/imgs/icon_close.png">
    </button>
  </div>

  <div class="image-wrapper">
    <img src="{{ pos?.image }}">
  </div>

  <div class="content-wrapper" [innerHtml]="pos?.contents" *ngIf="pos?.contents"></div>

  <div class="comment-wrapper">
    <h2>댓글입력</h2>
    <ul>
      <li *ngFor="let comment of comments">
        <p class="id-wrapper">{{comment.id}} <span class="date">{{comment.date.getFullYear()}}.{{comment.date.getMonth()}}.{{comment.date.getDay()}}</span></p>
        <p>{{comment.contents}}</p>
      </li>
      <li *ngIf="comments?.length === 0">
        댓글이 없습니다...
      </li>
    </ul>
  </div>

  <div class="comment-write-block">
    <input class="text-comment" type="text" #comment placeholder="댓글 작성"
           (key.enter)="sendComment(comment.value); comment.value = '';">
    <div class="btn-wrapper">
      <button class="btn-send" (click)="sendComment(comment.value); comment.value = '';">
        전송
      </button>
    </div>
  </div>
</section>
