page-detail {
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #fff9de;

  .btn-downer-wrapper{
    width: 100%;
    margin-bottom: 5px;
    text-align: center;

    button {
      background: 0;
      img {
        width: 65px;
      }
    }
  }

  .image-wrapper {
    border: 2px solid #f26522;
    min-height: 150px;
    background: #d4d4d4;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }

  .content-wrapper {
    border: 2px solid #f26522;
    background: white;
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
    color: #333;
  }

  .comment-wrapper {
    h2{
      font-size: 22px;
      font-weight: 500;
      color: #f26522;
    }
    ul{
      list-style-type: none;
      margin:0 ;
      padding: 0;

      li {
        margin-bottom: 5px;
        padding: 10px;
        width: 100%;
        border: 1px solid #f26522;
        background: white;
        color: #333;
        font-weight: 500;
        p{
          margin:0;
        }
        p.id-wrapper{
          position: relative;
          font-size: 14px;
          font-weight: 600;
          color: #808080;
          .date{
            position: absolute;
            font-weight: 400;
            font-size: 12px;
            right: 10px;
            bottom:0;
          }
        }
      }
    }
  }

  .comment-write-block {
    display: flex;
    border: 1px solid #f26522;
    bottom: 15px;
    width: 100%;
    padding: 5px;
    background:white;

    .text-comment{
      font-size:14px;
      flex-basis:80%;
      border: 0;
    }
    .text-comment::placeholder{
      color: #f26522;
    }
      .btn-wrapper{
      text-align: right;
      flex-basis: 20%;
      .btn-send {
        display:inline-block;
        float:right;
        width: 55px;
        height: 30px;
        font-size: 14px;
        color: white;
        background: #f26522;
        text-align: center;
      }
    }
  }
}
